<h1>W1</h1>
<p>兩人一組做報告W2~W4完成並交付</p>
<p>用LEO做BLOG</p>
<p>將author修改成自己的名字</p>
<p><img alt="" height="349" src="/images/pelican1.png" width="621"/></p>
<p>傳送位置改成自己的cd2021並新增disqus論壇</p>
<p><img alt="" height="352" src="/images/pelican2.png" width="625"/></p>
<p>blog內容撰寫處</p>
<p><img alt="" height="349" src="/images/pelican3.png" width="620"/></p>
<p></p>
<h1>W2</h1>
<p>將圖檔放置coppeliasim編輯並測試</p>
<p>圖檔初草圖</p>
<p><img alt="" height="338" src="/images/2.png" width="548"/></p>
<p></p>
<p>改造後各別零件<img alt="" height="291" src="/images/未命名.png" width="502"/></p>
<p><img alt="" height="288" src="/images/未命名2.png" width="500"/></p>
<p><img alt="" height="258" src="/images/未命名3.png" width="495"/></p>
<p><img alt="" height="257" src="/images/未命名4.png" width="578"/></p>
<p></p>
<p><img alt="" height="242" src="/images/未命名5.png" width="429"/></p>
<p><img alt="" height="470" src="/images/未命名6.png" width="555"/></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>圖檔2.0影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/RjVcg4wXsw0" width="560"></iframe></p>
<p></p>
<p></p>
<p></p>
<p>coppeliasim測試圖</p>
<p><img alt="" height="431" src="/images/test1111.png" width="766"/></p>
<p></p>
<p>測試影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/RRznqvxBcuU" width="560"></iframe></p>
<h1>W3</h1>
<p>測試1</p>
<p><a href="https://drive.google.com/drive/u/0/folders/1OYVbl3cYj_-fkuaArtclJRiNoodQHk7H">第一次測試coppeliasim</a></p>
<p><a href="https://drive.google.com/drive/u/0/folders/1bNWk8o1UbAUWI554ASf9u7DNvenfFGik">stl檔</a></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/r3D9ZccdB6M" width="560"></iframe></p>
<p>測試二</p>
<p><a href="https://drive.google.com/drive/u/0/folders/1tQ1fepp6NYhcuLg2EIWkgQzCTdnu9Q3l">coppeliasim第二次測試</a></p>
<p><a href="https://drive.google.com/drive/u/0/folders/1bNWk8o1UbAUWI554ASf9u7DNvenfFGik">第二次測試stl</a></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/AjqtpE51k1Q" width="560"></iframe></p>
<p>測試三</p>
<p><a href="https://drive.google.com/drive/u/0/folders/17eKw34ROoKfTKXxOr3wvg4RZmva3M1wH">第三次測試coppeliasim</a></p>
<p><a href="https://drive.google.com/drive/u/0/folders/1LEC6oQ8GNH74uakIbjCPXtFzB-8zmvcE">第三次測試stl</a></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ersMQXUpdS0" width="560"></iframe></p>
<h1>W4</h1>
<p>stage1報告:<a href="https://40823123.github.io/stage1-ag19/reveal/index.html#/">https://40823123.github.io/stage1-ag19/reveal/index.html#/</a> </p>
<h1>W5</h1>
<p>由兩人一組變成四人一組並討論題目</p>
<h2>分組組員</h2>
<p><span>40823116 </span><span>| Repository: <a href="https://github.com/40823116/cd2021">40823116</a><span><span> </span>| Site:<span> </span></span><a href="https://40823116.github.io/cd2021">40823116</a></span></p>
<p><span>40823123 <span>| Repository: <a href="https://github.com/40823123/cd2021">40823123</a><span><span> </span>| Site:<span> </span></span><a href="https://40823123.github.io/cd2021">40823123</a></span></span></p>
<p><span>40823131 </span><span>| </span><span>Repository: </span><a href="https://github.com/40823131/cd2021">40823131</a><span><span> </span>| Site:<span> </span></span><a href="https://40823131.github.io/cd2021">40823131</a></p>
<p><span>40823136 </span><span>| </span><span>Repository: </span><a href="https://github.com/40823136/cd2021">40823136</a><span><span> </span>| Site:<span> </span></span><a href="https://40823136.github.io/cd2021">40823136</a></p>
<h1>W6</h1>
<p>用heroku</p>
<p><a href="https://stage2-ag11.herokuapp.com/content/index.html">https://stage2-ag11.herokuapp.com/content/index.html</a> </p>
<p><span>1.從 <a href="http://a.kmol.info:88/heroku.7z">http://a.kmol.info:88/heroku.7z</a> 下載 Heroku CLI，</span><span>解開壓縮至隨身碟Y槽。</span></p>
<h1>W7</h1>
<h2>小組分工</h2>
<p>40823116:繪製運輸小車<span>、pdf製作</span>。</p>
<p>40823123:coppeliasim模擬、可用資料查找及整合<span>、reveal製作</span>。</p>
<p>40823131:運輸小車程式編寫、修改<span>運輸小車</span>、coppeliasim模擬調整、網頁協同、構思。</p>
<p>40823136:機械手臂程式編寫、<span>coppeliasim模擬調整、可用資料查找及整合、構思</span>。</p>
<h2>運輸小車繪製</h2>
<p>因為此次專案只有小車需繪製，所以仍採用Inventor(2018)進行繪製。</p>
<p>stl檔:<a href="https://drive.google.com/file/d/1HULgTeENzh3tGrNMneSqoOs3D_XNICU-/view?usp=sharing">https://drive.google.com/file/d/1HULgTeENzh3tGrNMneSqoOs3D_XNICU-/view?usp=sharing</a> </p>
<p>ipt檔:<a href="https://drive.google.com/file/d/11L6R_NlkVavxR1QjsBnwVqe7aqBPAduU/view?usp=sharing">https://drive.google.com/file/d/11L6R_NlkVavxR1QjsBnwVqe7aqBPAduU/view?usp=sharing</a> </p>
<h2>倉庫繪製</h2>
<p>將運輸物儲存至此地已達到整體循環</p>
<p>STL:<a href="https://40823123.github.io/stage2-ag11/downloads/%E5%85%AC%E5%BB%9F.STL">倉庫STL檔</a></p>
<p>SOLIDWORKS:<a href="https://drive.google.com/file/d/1BDlUg-Wp6682xEMiiKycW0paN4jO9Fd7/view?usp=sharing">倉庫圖檔</a></p>
<h1>W8</h1>
<h2>程式控制運輸小車</h2>
<p>利用控制各輪軸的速度，以達到控制車體前進後退及轉向。</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/0r_2b2W192o" title="YouTube video player" width="560"></iframe></p>
<h2>程式控制真空機械手臂</h2>
<p>利用CoppeliaSim內建的機械手臂修改裏頭的程式</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/FWBZ8fuP7H0" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h1>W9</h1>
<p>stage2-ag11最終版</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/kSmxRcGlpQo" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h1>W10</h1>
<h2>task1</h2>
<p><img alt="" height="749" src="/images/task1講述喔.png" width="1095"/></p>
<p></p>
<p></p>
<h2>task2</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/cvEFvUINdog" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p></p>
<p><img alt="" height="727" src="/images/task2.png" width="538"/></p>
<p></p>
<p></p>
<p></p>
<h1>W11</h1>
<p>每組抽2人進行課程直播講解</p>
<p><a href="https://youtu.be/LX6kWSorCzU">第十一週直播</a></p>
<p>主題:reveal API 程式說明(半完成)</p>
<p></p>
<p></p>
<p></p>
<h1>W12</h1>
<p><a href="https://youtu.be/J_F9BKspvCE">第十二週直播</a></p>
<p>主題:<span>TASK1程式講解與直播軟體串流設定攝像頭設定疑難排解</span></p>
<h1>W13</h1>
<p>直播小組討論stage3和機械手臂程式</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/a8Uw1WOhCYk" title="YouTube video player" width="560"></iframe></p>
<h1>W14</h1>
<p>優化機械手臂程式</p>
<h1>W15</h1>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/IKOGwoJ2HLk" title="YouTube video player" width="560"></iframe></p>
<h2>forward kinematics 正向運動學</h2>
<p></p>
<p>x,y with respect to the world coordinate frame.</p>
<p>x和y為y座標框架</p>
<p>the problem here is that given x and y,we want to determine the joined angles,q1and q2</p>
<p>以x為基準到a1一個角度q1,以a1為基準到a2一個角度q2</p>
<p>The solution that we're going to follow in this particular section is a geometric.</p>
<p>解決部分幾何</p>
<p>一</p>
<p>利用畢氏定理(pythagoras theorem)畢達哥拉斯定理</p>
<p>我們可以知道原點到e點的距離為r</p>
<p></p>
<p>利用餘弦公式(<span>所有邊都標記為A, B, C，角都標記為a, b, c </span>)</p>
<p>A*A=B*B+C*C-2BCcosa</p>
<p>r*r=a1*a1+a2*a2-2a1a2cos(alpha)</p>
<p>經過移項</p>
<p><img alt="" height="244" src="/images/196556967_1133206143826013_7267601307764385006_n.jpg" width="436"/></p>
<p>180-q2=alpha</p>
<p>cosq2=-cos(alpha)</p>
<p>把餘弦公式套用到q2的三角形</p>
<p>我們知道q2所以鄰邊為a2cosq2對邊為a2sinq2</p>
<p>可以用q2角寫出正弦關係</p>
<p>現在把原點連到E點畫出的角度為BETA,邊常用藍色表示</p>
<p>藍色底邊為a1+a2cosq2</p>
<p>回到之前化的紅色三角形我們可以建立出q1和beta的關係</p>
<p>設q1+beta=gamma</p>
<p>總結</p>
<p>我們有q2餘弦方程式和q1方程式</p>
<p>餘弦函數在0對稱</p>
<p>所以我們知道cosq2的值可能為正或負</p>
<p>我們選擇正角才可以寫出這式子</p>
<p>現在我們來用逆向運動學來處理雙連桿機構</p>
<h2> inverse kinematic 逆向運動學</h2>
<p>我們有兩個連接角 q1 和 q2 的表達式，根據末端執行器姿勢 x 和 y 以及一系列常量</p>
<p>你會發現這兩方程式不是獨立的,q1方程式取決於q2的解</p>
<p>在這狀況下,q2為負,<span>我們將在q2反餘弦的解前面加上負號</span></p>
<p><span>我們需求解q1，因此采用這個特定的三角形，之前求解的角度β以及根據y和x定義的角度ɣ</span></p>
<p>q1,beta,gamma和之前求的不同因為涉及到符號變化</p>
<p>然後我們可以替代之前所有等式,以求得此q1方程式</p>
<p>同樣這裡符號發生變化</p>
<p>原本是負號</p>
<p><span>這是雙連桿機構在此逆向運動學的總形式，其中q2為負</span></p>
<p><span>讓我們比較兩個解決方案，q2為正和q2為負的情況</span></p>
<p></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/eIZuz1XCd0w" title="YouTube video player" width="560"></iframe>在這裡，我們有與剛剛看到的相同的兩連桿機器人，但這次我們將使用分析方法來解決它，即我們將更多地依賴代數，特別是線性代數而不是幾何</p>
<p><span>我們有一個表達式 E，它是表示機械手臂最終位置的齊次變換式，我們在上一課中看到了這一點，我們可以將最終位置寫為一系列基本齊次變換式</span></p>
<p><span>Q1 旋轉，A1 沿 X 方向平移，Q2 旋轉，然後 A2 沿 X 方向平移</span></p>
<p><span>如果我將其展開，將所有變換相乘，就會得到此處所示的表達式 E ;它是一個三乘三的齊次變換矩陣，表示機械手臂的最終的位置</span></p>
<p><span>現在對於這個特殊的兩連桿機器人，我們只對它的最終位置感興趣，與它有關的是 X 和 Y 坐標，它們是齊次變換矩陣中的這兩個元素，所以我將把它們複製出來</span></p>
<p><span>所以這裡又是我們對 X 和 Y 的表達式，我們要做的是一個相當常見的技巧，我們要將它平方並將這兩個方程相加，我得到一個看起來像這樣的關係式</span></p>
<p><span>現在我可以根據最終位置X和Y以及機械手臂的常數A1及A2來求出關節角度Q2</span></p>
<p><span>我將展開這些項，Q1 的正弦加 Q2 或 Q1 的餘弦加 Q2，為了讓生活更輕鬆一點，我將建立一些分部，所以只要有 cos Q2，我會將其取代為C2並且在有正弦Q2的地方，我會將其取代為S2</span></p>
<p><span>看看這兩個方程式，我可以看到它們屬於一個眾所周知的形式，對於這種形式，有一個淺顯易見的解決方案</span></p>
<p><span>所以我將只考慮其中一個方程，Y 的方程，並使用我們眾所周知的恆等式和它的解，我可以確定變量小 a、小 b 和小 c 的值，一旦我確定了這些，然後我可以寫下 Q1 的解決方程，在這種特殊情況下，x 相當於 theta</span></p>
<p><span>這裡再次是我們對 Q1 的表達，從上一張幻燈片複製過來，我們可能還記得在我們早期的說明中，確定了這種特殊關係； X 平方加 Y 平方等於這個特定的複雜表達式</span></p>
<p><span>因此，我可以將其替換並進行一些簡化，最終得到 Q1 的這個稍微不那麼複雜的表達式</span></p>
<p><span>與上一節中遵循幾何方法求出的表達式一模一樣</span></p>